body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted for better visibility */
    padding: 20px;
}

fieldset {
    border: 2px solid #3498bd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bolder;
    text-align: center;
    color: #2c3e50;
}

label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;
}

input, textarea {
    width: 100%;
    padding: 10px; /* Adjusted for consistency */
    margin-top: 4px;
    border: 1px solid #3498bd; /* Added solid style */
    border-radius: 4px; /* Adjusted for better visual appeal */
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    max-width: 150px; /* Adjusted width to look better */
    padding: 10px; /* Adjusted for consistency */
    background-color: slateblue;
    color: rgb(29, 28, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    background-color: #66b1e6;
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted for better visibility */
    padding: 20px;
}

#resumeOutput h2 {
    color: #a7d0db;
}
